<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.bigblackbox">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".SecurityQuestion"/>
        <activity android:name=".FindPwd_detail" />
        <activity android:name=".EditPwd" />
        <activity android:name=".AddPush" />
        <activity android:name=".FindPwd" />
        <activity android:name=".MyPosting" />
        <activity android:name=".SubjectDetail" />
        <activity android:name=".EditUserInfo" />
        <activity android:name=".Search" />
        <activity android:name=".GuessNum" />
        <activity android:name=".UserManagement" />
        <activity android:name=".CardActivity" />
        <activity android:name=".ExamActivity" />
        <activity android:name=".PracticeActivity" />
        <activity android:name=".QuestionActivity" />
        <activity android:name=".ResultActivity" />
        <activity android:name=".activity.Teacher" />
        <activity android:name=".AddPost" />
        <activity android:name=".AddTeacher" />
        <activity android:name=".MusicTest" />
        <activity android:name=".AddSubject" />
        <activity android:name=".AddProfession" />
        <activity android:name=".RealStuffShare" />
        <activity android:name=".ProfessionCourse" />
        <activity android:name=".ChooseSchool" />
        <activity android:name=".ProfessionDetail" />
        <activity android:name=".activity.GenSubject" />
        <activity android:name=".activity.Examination" />
        <activity android:name=".activity.GraduateData" />
        <activity android:name=".GuessNumChoose" />
        <activity android:name=".ChooseTeacher" />
        <activity android:name=".CollPost" />
        <activity android:name=".Teacher_detail" />
        <activity android:name=".Push_detail" />
        <activity android:name=".Post_detail" />
        <activity android:name=".activity.IndexActivity" />
        <activity android:name=".Register" />
        <activity android:name=".activity.Chat"/>
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

<!--        <receiver-->
<!--            android:name=".tool.AutoReceiver"-->
<!--            android:label="@string/app_name" >-->
<!--            <intent-filter>-->
<!--                <action android:name="android.intent.action.BOOT_COMPLETED" />-->
<!--                <category android:name="android.intent.category.LAUNCHER" />-->
<!--            </intent-filter>-->
<!--        </receiver>-->

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.example.bigblackbox.fileProvider"
            android:grantUriPermissions="true"
            android:exported="false">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

    </application>

</manifest>